/* ClientClock.module.css */

.timeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0px solid black;
  width: 21.4em;
  height: 9em;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.5);
}

.timeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* 각 박스 간의 간격 */
}

.timeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* 글자 크기 */
}

.periodBox {
  display: flex;
  align-items: flex-end;
  font-size: 0.8rem;
  padding-top: 11px;
  /* text-align: center; */
}

.colon {
  font-size: 2rem;
  padding-bottom: 5px;
}

.button {
  margin-top: 20px;
  padding: 6px 10px;
  background: linear-gradient(
    90deg,
    rgb(123, 178, 236) 0%,
    rgb(161, 158, 229) 80%
  );
  box-shadow: 3px 3px 5px rgba(182, 182, 182, 0.5);
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}
